body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #06faf2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #94f402;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  color: #00796b;
  margin-bottom: 1.5rem;
}

input {
  width: 80%;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #004d40;
}

.weather-box {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #e0f2f1;
  border-radius: 8px;
  border: 1px solid #ccc;
}
    